* {
  margin: 0px;
  padding: 0px;
}


/*
.issue {
  margin: 20px;
  padding: 5px;
  width: 80%;
  border: 2px solid black;
}

.closed {
  background-color: lightgrey;
}
*/

.mtop {
  top: 20%;
}

/*
.id {
  font-size: 10.5px;
}
*/